html, body {
    height: 100%;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.container-flex {
    height: 100%;
    margin: 30px auto;
    max-width: 1000px;
}

.menu-flex {
    height: 80px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}


.menu-flex li {
    background: gray;
    flex: 0 0 auto;
    list-style-type: none;
    padding: 20px 60px;
    box-shadow: 3px 3px 3px 0 #333333;
    border-radius: 9px;
}

.border {
    border: 1px solid black;
}

.gray {
    background: lightgray;
}

.darkgray {
    background: gray;
}

.row-container {
    display: flex;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.flex2 {
    flex: 2;
}

.flex1 {
    flex: 1;
}

.height {
    height: 300px;
}

.margin-top {
    margin-top: 5px;
}

.margin-bottom {
    margin-bottom: 5px;
}

.margin-left {
    margin-left: 5px;
}

.margin-right {
    margin-right: 5px;
}

.shadow:hover {
    box-shadow: 0 0 12px 0 #333;
/*    box-shadow: inset вправо-влево вверх-вниз размытие смещение*/
}

.padding {
    padding: 8px;
}

.footer-flex {
    height: 250px;
    background: gray;
    flex: 0 0 auto;
}

.header-flex {
    height: 250px;
    background: gray;
    flex: 0 0 auto;
}