html, body {
    height: 100%;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
	margin:0 auto;
	max-width:1000px;
	height:100%;
}

.menu {
    height: 80px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
	margin-left:10px;
}

.menu li {
    background: gray;
    flex: 0 0 auto;
    list-style-type: none;
    padding: 15px 60px;
    box-shadow: 3px 3px 3px 0 #333333;
}

.border {
	border: 1px solid black;
}

.gray {
	background: lightgray;
}


.darkgray {
	background: gray;
}
.row-container {
	display:flex;
}

.column-container {
	display:flex;
	flex-direction:column;
}

.flex1 {
	flex:1
}

.flex2 {
	flex:2
}

.height {
	height:300px;
}

.margin-top {
	margin-top:5px;
}

.margin-bottom {
	margin-bottom:5px;
}

.margin-left {
	margin-left:5px;
}

.margin-right {
	margin-right:5px;
}

.shadow:hover {
	box-shadow: -4px 3px 9px 1px black; /*cсмещение x, y, размытие, ширина, цвет*/
}

.padding {
    padding: 8px;
}

.footer {
    height: 100px;
    background: gray;
    flex: 0 0 auto;
}	