@charset "utf-8";
/* CSS Document */
body {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#333;
	background-color:#CCC;
	padding:0;
	margin:0;
}
	
h1 {
	font-size:24px;
	color:#090;
}
h2 {}
h3 {
	font-size:18px;
	color:#090;
}
h4 {}

#container{}

#header{
	height:200px;
	width:100%;
	background-color:#0F3;
	text-align:center;
}

#leftcol {
	padding:10px;
}

#main {
	min-height:500px;
	padding:20px;
}

#topline {
	width:auto;
	height:30px;
	background-color: #FC0;
}

#rigtcol {}

#footer {
	height:200px;
	width: auto;
	background-color: #333;
	text-align:center;
}

.topblock {}

.register {
	float:right;
	padding:5px;
}
.breadcrumbs {
	padding:10px;
	padding-left:100px;
}
.topblock {
	text-align:center;
	font-size:24px;
	color:#060;
}

.mainblock {
	margin:20px;
}

.cells {
	width:80%;
	padding:10px;
	text-align:center;
}
.cells  td{
	border-bottom:solid 1px green;
	margin:5px;
	padding:10px;
	text-align:center;
}
.cells  tr{
	height:30px;
}


.cells th {
	border-bottom:solid 1px green;
	width:150px;
	padding:10px;
	text-align:center;
}

.cells img {
	text-align:center;
}

img:hover {
	border: solid 2px green;
}

/* Css selectors 

Классы .class-name
Селекторы тегов h3
Идентификаторы Id элемента #elem_id
Контекстные селекторы .class-name li (если ul class="class-name")

textarea {
	resize:none;
	height:100vh; вся высота экрана
	display: inline-block; //блоки в строчку
	border:solid 1px red; //type size color
}
*/


/* ---------- reg-form ---------- */

#reg-form {
	margin: auto;
	width: 300px;
}

#reg-form fieldset {
	background: #fff;
	padding: 15px;
}

#reg-form input {
	font-size: 14px;
}

#reg-form input[type="email"],
#reg-form input[type="password"],
#reg-form input[type="text"] {
	border: 1px solid #dcdcdc;
	padding: 10px;
	width: 250px;
}


#reg-form input[type="submit"] {
	background: #009900;
	color: #fff;
	float: right;
	font-weight: bold;
	margin-top: 20px;
	padding: 12px 20px;
	cursor:pointer;
}

#reg-form input[type="submit"]:hover { background: #bbb; }
